/*--基础字体设置--*/
.basictext p {
  font-size: 1.1rem;
  color: #000;
  font-weight: 200;
  line-height: 1.8rem;
}
/*--基础字体设置--*/

/*--导航栏字体设置--*/
.bg-custom{
  background-color: #740A64 !important; /*来自南京大学徽标字体CMYK=50,100,0,30*/

}

.navbar-brand {
  font-size:1.75rem;
}
.nav-link {
  font-size:1.2rem;
}
/*--导航栏字体设置--*/

/*--面包屑导航字体设置--*/
#mybread{
  background-color: #FFFFFF;
  font-size: 1.0rem;
}
/*--面包屑导航字体设置--*/


/*--copy-rights--*/
#copyrights {
  margin-top: 20px;
  background-color: #555;
}

#copyrights img{
  padding-top: 15px;
  height: 85px;
}

#copyrights p{
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  padding-top: 15px;
}
/*--/copy-rights--*/	


/*equipment设置*/
.equipment h5{
  /*color: #00ced1;*/
  color: #B88C4C;  /*来自南京大学徽标字体CMYK=30,45,75,5*/
  font-weight: 550;
}
.equipment p{
  /*正文字体设置*/
  font-size: 1.1rem;
  color: #000;
  font-weight: 200;
  line-height: 1.8rem;
}
/*equipment设置*/

/*member设置*/
.category{
  text-align: center;
}
.category h5{
  color: #B88C4C;
  padding-bottom: 15px;
}

.membername{
  /*color: #B88C4C;*/
  font-size: 1.3rem;
  font-weight: 400;
}

.memberinfo{
  font-size: 1.1rem;
  color: #000;
  font-weight: 200;
  line-height: 1.8rem;
}
/*member设置*/

/*渐变色水平分割线--开始*/
.horiline{
  /*background:linear-gradient(to left,#A27C44,#F4CC60,#A27C44);*/
  background:linear-gradient(to left,#F4CC60,#BF914F,#F4CC60);
  /*渐变色--来自南大*/
  height:2px;
  margin-top: -15px;
  margin-bottom: 20px;
}
/*渐变色水平分割线--结束*/

/*研究成果设置--开始*/
.pubyear{
  font-size: 1.2rem;
}

.paperlist a:link{
  color:#bb0000;
  text-decoration:none;
}
.paperlist a:visited {
  color:#bb0000;
  text-decoration:none;
  
}
.paperlist a:hover {
  color:#bb0000;
  text-decoration:underline;
}
.paperlist a:hover {
  color:#bb0000;
  text-decoration:underline;
}

.mybtn{
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: transparent;
  border: 1px solid;
  border-color:darkgray;
  border-radius: 5px;
}

.bibtex{
  background-color: #c9c9c9;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

/*研究成果设置--结束*/



/*不同尺寸屏幕适配*/
@media screen and (min-width: 768px){ /*大于等于768*/
  #copyrights p{
    text-align: left;
  }
}
@media screen and (min-width: 992px){ /*大于等于992*/
  #copyrights p{
    text-align: left;
  }
  #lslpic{
    width: 100%;
  }
}
@media screen and (min-width: 1200px){ /*大于等于1200*/
  #copyrights p{
    text-align: left;
  }
  #lslpic{
    width: 100%;
  }
}
/*不同尺寸屏幕适配*/

